<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../protected/modules/web/themes/ialarm/css/iAlarmDesktop/bar.css" rel="stylesheet" type="text/css"/>
<link href="../protected/modules/web/themes/ialarm/css/iAlarmDesktop/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="../protected/modules/web/themes/ialarm/js/iAlarmDesktop/jquery-2.1.0.min.js" type="text/javascript"></script>
<script src="../protected/modules/web/themes/ialarm/js/iAlarmDesktop/jquery-ui.js" type="text/javascript"></script>
<script src="../protected/modules/web/themes/ialarm/js/mapa/web/barZoom.js" type="text/javascript"></script>
</head>

<body>

<div title="Alejar" class="cssCBSLeft cssEvtCtrl" id="dvCtrlZoomOut"></div>

<div class="cssCBSCenter">
    <div title="Arrastrar para Alejar o Acercar" id="slider"></div>
</div>

<div title="Acercar" class="cssCBSRight cssEvtCtrl" id="dvCtrlZoomIn"></div>

</body>
</html>
