<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</head>
<body>
<div nose-width='3' nose-offset='1' style="margin:0; padding:0; width:100%; 
	 background-repeat:no-repeat; background-color:#fff;">

    
    <div style="color:#756962; margin:0 10px 0 0; padding:0;">
    	<div style="height:25px; margin:0 0 0 10px; padding:0; border-bottom:1px solid #ccc;">            
            	<div style="font-weight:bold; position:relative; top:6px; width:200px;">Direcci&oacute;n</div>
        </div>    
   		<div style="margin:0 0 0 10px; padding:10px 0 5px 0; font-family:Arial, Helvetica, sans-serif; 
        font-size:11px;">        	
            <div style="margin-right:10px;">{direccion}</div>
			<div style="margin-top:5px; font-variant:small-caps;">Cuadrante: S45 | Nextel: 10907924</div>
        </div>
        
        <div style="height:30px;">
        	<div style="height:20px; margin:5px 10px 0 10px; background-color:#ECEDE5;">
            	<div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:3px 0 0 10px;">Marcar Punto como:</div>
            	{crash}
                <a title="Poner como Destino" onclick="setEnd('{nameMarker}');"><div class="cssIconFoot" style="width:25px; height:20px; float:right; 
                background-image:url(../protected/modules/web/themes/ialarm/images/iAlarmDesktop/tooltips/iconDestino.png);
                background-repeat:no-repeat; cursor:pointer;"></div></a>
                <a title="Poner como Origen" onclick="setStart('{nameMarker}');"><div class="cssIconFoot" style="width:25px; height:20px; float:right; 
                background-image:url(../protected/modules/web/themes/ialarm/images/iAlarmDesktop/tooltips/iconOrigen.png);
                background-repeat:no-repeat; cursor:pointer;"></div></a>
            </div>
        </div>
    </div>
    <div style="height:15px; 
    ;margin:0;"></div>
</div>
</body>
</html>